#include <zmk-taipo/adapters/zmk_helpers.h>

#define ZMK_TAIPO_CORE_INCLUDED 1

#ifndef TAIPO_COMBO_TERM_FAST
#define TAIPO_COMBO_TERM_FAST 100
#endif

#ifndef TAIPO_COMBO_TERM_SLOW
#define TAIPO_COMBO_TERM_SLOW 80
#endif

#ifndef COMBO_TERM_FAST
#define COMBO_TERM_FAST TAIPO_COMBO_TERM_FAST
#endif

#ifndef COMBO_TERM_SLOW
#define COMBO_TERM_SLOW TAIPO_COMBO_TERM_SLOW
#endif

// Choose one:
// - TAIPO_THUMB_ORDER_IOOI (inner-outer-outer-inner)
// - TAIPO_THUMB_ORDER_OIIO (outer-inner-inner-outer)
// Default: OIIO
// IOOI means that the inner thumbs are closer to the inside of your hands
// OIIO means that the inner thumbs are closer to the inside of your keyboard
#if !defined(TAIPO_THUMB_ORDER_IOOI) && !defined(TAIPO_THUMB_ORDER_OIIO)
#define TAIPO_THUMB_ORDER_OIIO 1
#endif

#if defined(TAIPO_THUMB_ORDER_IOOI) && defined(TAIPO_THUMB_ORDER_OIIO)
#error "Define only one of TAIPO_THUMB_ORDER_IOOI or TAIPO_THUMB_ORDER_OIIO"
#endif

#if defined(TAIPO_THUMB_ORDER_IOOI)
#define INNER_THUMB_L TAIPO_POS_T1
#define OUTER_THUMB_L TAIPO_POS_T2
#define OUTER_THUMB_R TAIPO_POS_T3
#define INNER_THUMB_R TAIPO_POS_T4
#elif defined(TAIPO_THUMB_ORDER_OIIO)
#define OUTER_THUMB_L TAIPO_POS_T1
#define INNER_THUMB_L TAIPO_POS_T2
#define INNER_THUMB_R TAIPO_POS_T3
#define OUTER_THUMB_R TAIPO_POS_T4
#else
#error "You must define either TAIPO_THUMB_ORDER_IOOI or TAIPO_THUMB_ORDER_OIIO"
#endif

#define ITL INNER_THUMB_L
#define OTL OUTER_THUMB_L
#define ITR INNER_THUMB_R
#define OTR OUTER_THUMB_R

#ifdef TAIPO
#ifndef TAIPO_INNER
#error "TAIPO_INNER and TAIPO_OUTER must be defined when TAIPO is overridden"
#endif
#ifndef TAIPO_OUTER
#error "TAIPO_INNER and TAIPO_OUTER must be defined when TAIPO is overridden"
#endif
#else
#define TAIPO 0
#define TAIPO_INNER 1
#define TAIPO_OUTER 2
#endif

#define TAIPO_L_POS(x) TAIPO_POS_L##x
#define TAIPO_R_POS(x) TAIPO_POS_R##x

#define TAIPO_MAP_L_1(x) TAIPO_L_POS(x)
#define TAIPO_MAP_L_2(x, y) TAIPO_L_POS(x) TAIPO_L_POS(y)
#define TAIPO_MAP_L_3(x, y, z) TAIPO_L_POS(x) TAIPO_L_POS(y) TAIPO_L_POS(z)
#define TAIPO_MAP_L_4(x, y, z, w) TAIPO_L_POS(x) TAIPO_L_POS(y) TAIPO_L_POS(z) TAIPO_L_POS(w)
#define TAIPO_MAP_L_5(x, y, z, w, v) TAIPO_L_POS(x) TAIPO_L_POS(y) TAIPO_L_POS(z) TAIPO_L_POS(w) TAIPO_L_POS(v)
#define TAIPO_MAP_L_6(x, y, z, w, v, u) TAIPO_L_POS(x) TAIPO_L_POS(y) TAIPO_L_POS(z) TAIPO_L_POS(w) TAIPO_L_POS(v) TAIPO_L_POS(u)
#define TAIPO_MAP_L_7(x, y, z, w, v, u, t) TAIPO_L_POS(x) TAIPO_L_POS(y) TAIPO_L_POS(z) TAIPO_L_POS(w) TAIPO_L_POS(v) TAIPO_L_POS(u) TAIPO_L_POS(t)
#define TAIPO_MAP_L_8(x, y, z, w, v, u, t, s) TAIPO_L_POS(x) TAIPO_L_POS(y) TAIPO_L_POS(z) TAIPO_L_POS(w) TAIPO_L_POS(v) TAIPO_L_POS(u) TAIPO_L_POS(t) TAIPO_L_POS(s)

#define TAIPO_MAP_R_1(x) TAIPO_R_POS(x)
#define TAIPO_MAP_R_2(x, y) TAIPO_R_POS(x) TAIPO_R_POS(y)
#define TAIPO_MAP_R_3(x, y, z) TAIPO_R_POS(x) TAIPO_R_POS(y) TAIPO_R_POS(z)
#define TAIPO_MAP_R_4(x, y, z, w) TAIPO_R_POS(x) TAIPO_R_POS(y) TAIPO_R_POS(z) TAIPO_R_POS(w)
#define TAIPO_MAP_R_5(x, y, z, w, v) TAIPO_R_POS(x) TAIPO_R_POS(y) TAIPO_R_POS(z) TAIPO_R_POS(w) TAIPO_R_POS(v)
#define TAIPO_MAP_R_6(x, y, z, w, v, u) TAIPO_R_POS(x) TAIPO_R_POS(y) TAIPO_R_POS(z) TAIPO_R_POS(w) TAIPO_R_POS(v) TAIPO_R_POS(u)
#define TAIPO_MAP_R_7(x, y, z, w, v, u, t) TAIPO_R_POS(x) TAIPO_R_POS(y) TAIPO_R_POS(z) TAIPO_R_POS(w) TAIPO_R_POS(v) TAIPO_R_POS(u) TAIPO_R_POS(t)
#define TAIPO_MAP_R_8(x, y, z, w, v, u, t, s) TAIPO_R_POS(x) TAIPO_R_POS(y) TAIPO_R_POS(z) TAIPO_R_POS(w) TAIPO_R_POS(v) TAIPO_R_POS(u) TAIPO_R_POS(t) TAIPO_R_POS(s)

#define TAIPO_GET_KEYS(_1,_2,_3,_4,_5,_6,_7,_8,NAME,...) NAME
#define TAIPO_MAP_L(...) TAIPO_GET_KEYS(__VA_ARGS__, TAIPO_MAP_L_8, TAIPO_MAP_L_7, TAIPO_MAP_L_6, TAIPO_MAP_L_5, TAIPO_MAP_L_4, TAIPO_MAP_L_3, TAIPO_MAP_L_2, TAIPO_MAP_L_1)(__VA_ARGS__)
#define TAIPO_MAP_R(...) TAIPO_GET_KEYS(__VA_ARGS__, TAIPO_MAP_R_8, TAIPO_MAP_R_7, TAIPO_MAP_R_6, TAIPO_MAP_R_5, TAIPO_MAP_R_4, TAIPO_MAP_R_3, TAIPO_MAP_R_2, TAIPO_MAP_R_1)(__VA_ARGS__)

#if TAIPO_ONLY_RIGHT_HAND
#define TAIPO_IF_LEFT(...) __VA_ARGS__
#define TAIPO_IF_RIGHT(...) __VA_ARGS__
#elif TAIPO_ONLY_LEFT_HAND
#define TAIPO_IF_LEFT(...) __VA_ARGS__
#define TAIPO_IF_RIGHT(...) __VA_ARGS__
#else
#define TAIPO_IF_LEFT(...) __VA_ARGS__
#define TAIPO_IF_RIGHT(...) __VA_ARGS__
#endif

// Macros to expand into left/right combos and virtual thumb variants.
#define ZMK_COMBO_TAIPO(name, kp, ...) \
    TAIPO_IF_LEFT(ZMK_COMBO(taipoL##name, kp, TAIPO_MAP_L(__VA_ARGS__), TAIPO, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_RIGHT(ZMK_COMBO(taipoR##name, kp, TAIPO_MAP_R(__VA_ARGS__), TAIPO, TAIPO_COMBO_TERM_FAST))

#define ZMK_COMBO_TAIPO_IT(name, kp, ...) \
    TAIPO_IF_LEFT(ZMK_COMBO(taipoLIT##name, kp, TAIPO_MAP_L(__VA_ARGS__) ITL, TAIPO, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_RIGHT(ZMK_COMBO(taipoRIT##name, kp, TAIPO_MAP_R(__VA_ARGS__) ITR, TAIPO, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_LEFT(ZMK_COMBO(taipoLIV##name, kp, TAIPO_MAP_L(__VA_ARGS__), TAIPO_INNER, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_RIGHT(ZMK_COMBO(taipoRIV##name, kp, TAIPO_MAP_R(__VA_ARGS__), TAIPO_INNER, TAIPO_COMBO_TERM_FAST))

#define ZMK_COMBO_TAIPO_OT(name, kp, ...) \
    TAIPO_IF_LEFT(ZMK_COMBO(taipoLOT##name, kp, TAIPO_MAP_L(__VA_ARGS__) OTL, TAIPO, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_RIGHT(ZMK_COMBO(taipoROT##name, kp, TAIPO_MAP_R(__VA_ARGS__) OTR, TAIPO, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_LEFT(ZMK_COMBO(taipoLOV##name, kp, TAIPO_MAP_L(__VA_ARGS__), TAIPO_OUTER, TAIPO_COMBO_TERM_FAST)) \
    TAIPO_IF_RIGHT(ZMK_COMBO(taipoROV##name, kp, TAIPO_MAP_R(__VA_ARGS__), TAIPO_OUTER, TAIPO_COMBO_TERM_FAST))

ZMK_COMBO(taipoLspace   , &kp SPACE, ITL, TAIPO, TAIPO_COMBO_TERM_FAST)
ZMK_COMBO(taipoRspace   , &kp SPACE, ITR, TAIPO, TAIPO_COMBO_TERM_FAST)
ZMK_COMBO(taipoLbspace  , &kp BSPC , OTL, TAIPO, TAIPO_COMBO_TERM_FAST)
ZMK_COMBO(taipoRbspace  , &kp BSPC , OTR, TAIPO, TAIPO_COMBO_TERM_FAST)

ZMK_COMBO_TAIPO(e       , &kp E    , E)
ZMK_COMBO_TAIPO(t       , &kp T    , T)
ZMK_COMBO_TAIPO(o       , &kp O    , O)
ZMK_COMBO_TAIPO(a       , &kp A    , A)

ZMK_COMBO_TAIPO(i       , &kp I    , I)
ZMK_COMBO_TAIPO(n       , &kp N    , N)
ZMK_COMBO_TAIPO(s       , &kp S    , S)
ZMK_COMBO_TAIPO(r       , &kp R    , R)

ZMK_COMBO_TAIPO_IT(cape , &kp LS(E), E)
ZMK_COMBO_TAIPO_IT(capt , &kp LS(T), T)
ZMK_COMBO_TAIPO_IT(capo , &kp LS(O), O)
ZMK_COMBO_TAIPO_IT(capa , &kp LS(A), A)

ZMK_COMBO_TAIPO_OT(lpar , &kp LPAR , E)
ZMK_COMBO_TAIPO_OT(lbkt , &kp LBKT , T)
ZMK_COMBO_TAIPO_OT(lbrc , &kp LBRC , O)
ZMK_COMBO_TAIPO_OT(lt   , &kp LT   , A)

ZMK_COMBO_TAIPO_IT(capi , &kp LS(I), I)
ZMK_COMBO_TAIPO_IT(capn , &kp LS(N), N)
ZMK_COMBO_TAIPO_IT(caps , &kp LS(S), S)
ZMK_COMBO_TAIPO_IT(capr , &kp LS(R), R)

ZMK_COMBO_TAIPO_OT(rpar , &kp RPAR , I)
ZMK_COMBO_TAIPO_OT(rbkt , &kp RBKT , N)
ZMK_COMBO_TAIPO_OT(rbrc , &kp RBRC , S)
ZMK_COMBO_TAIPO_OT(gt   , &kp GT   , R)

ZMK_COMBO_TAIPO(h       , &kp H    , E, T)
ZMK_COMBO_TAIPO(l       , &kp L    , O, A)
ZMK_COMBO_TAIPO(y       , &kp Y    , I, N)
ZMK_COMBO_TAIPO(b       , &kp B    , S, R)

ZMK_COMBO_TAIPO_IT(caph , &kp LS(H), E, T)
ZMK_COMBO_TAIPO_IT(capl , &kp LS(L), O, A)
ZMK_COMBO_TAIPO_IT(capy , &kp LS(Y), I, N)
ZMK_COMBO_TAIPO_IT(capb , &kp LS(B), S, R)

ZMK_COMBO_TAIPO_OT(n0   , &kp N0   , E, T)
ZMK_COMBO_TAIPO_OT(n4   , &kp N4   , O, A)
ZMK_COMBO_TAIPO_OT(n5   , &kp N5   , I, N)
ZMK_COMBO_TAIPO_OT(n9   , &kp N9   , S, R)

ZMK_COMBO_TAIPO(g       , &kp G    , I, R)
ZMK_COMBO_TAIPO(u       , &kp U    , T, O)
ZMK_COMBO_TAIPO(d       , &kp D    , E, A)
ZMK_COMBO_TAIPO(p       , &kp P    , N, S)

ZMK_COMBO_TAIPO_IT(capg , &kp LS(G), I, R)
ZMK_COMBO_TAIPO_IT(capu , &kp LS(U), T, O)
ZMK_COMBO_TAIPO_IT(capd , &kp LS(D), E, A)
ZMK_COMBO_TAIPO_IT(capp , &kp LS(P), N, S)

ZMK_COMBO_TAIPO_OT(hash , &kp HASH , I, R)
ZMK_COMBO_TAIPO_OT(n2   , &kp N2   , T, O)
ZMK_COMBO_TAIPO_OT(a    , &kp AT   , E, A)
ZMK_COMBO_TAIPO_OT(n7   , &kp N7   , N, S)

ZMK_COMBO_TAIPO(c       , &kp C    , E, O)
ZMK_COMBO_TAIPO(q       , &kp Q    , T, A)
ZMK_COMBO_TAIPO(f       , &kp F    , I, S)
ZMK_COMBO_TAIPO(z       , &kp Z    , N, R)

ZMK_COMBO_TAIPO_IT(capc , &kp LS(C), E, O)
ZMK_COMBO_TAIPO_IT(capq , &kp LS(Q), T, A)
ZMK_COMBO_TAIPO_IT(capf , &kp LS(F), I, S)
ZMK_COMBO_TAIPO_IT(capz , &kp LS(Z), N, R)

ZMK_COMBO_TAIPO_OT(n1   , &kp N1   , E, O)
ZMK_COMBO_TAIPO_OT(n3   , &kp N3   , T, A)
ZMK_COMBO_TAIPO_OT(n6   , &kp N6   , I, S)
ZMK_COMBO_TAIPO_OT(n8   , &kp N8   , N, R)

ZMK_COMBO_TAIPO(v       , &kp V    , E, S)
ZMK_COMBO_TAIPO(x       , &kp X    , T, R)
ZMK_COMBO_TAIPO(k       , &kp K    , I, O)
ZMK_COMBO_TAIPO(j       , &kp J    , N, A)

ZMK_COMBO_TAIPO_IT(capv , &kp LS(V), E, S)
ZMK_COMBO_TAIPO_IT(capx , &kp LS(X), T, R)
ZMK_COMBO_TAIPO_IT(capk , &kp LS(K), I, O)
ZMK_COMBO_TAIPO_IT(capj , &kp LS(J), N, A)

ZMK_COMBO_TAIPO_OT(star , &kp STAR , E, S)
ZMK_COMBO_TAIPO_OT(caret, &kp CARET, T, R)
ZMK_COMBO_TAIPO_OT(plus , &kp PLUS , I, O)
ZMK_COMBO_TAIPO_OT(equal, &kp EQUAL, N, A)

ZMK_COMBO_TAIPO(minus   , &kp MINUS, N, O)
ZMK_COMBO_TAIPO(w       , &kp W    , I, A)
ZMK_COMBO_TAIPO(m       , &kp M    , E, R)
ZMK_COMBO_TAIPO(slash   , &kp SLASH, T, S)

ZMK_COMBO_TAIPO_IT(under, &kp UNDER, N, O)
ZMK_COMBO_TAIPO_IT(capw , &kp LS(W), I, A)
ZMK_COMBO_TAIPO_IT(capm , &kp LS(M), E, R)
ZMK_COMBO_TAIPO_IT(bslh , &kp BSLH , T, S)

ZMK_COMBO_TAIPO_OT(prcnt, &kp PRCNT, N, O)
ZMK_COMBO_TAIPO_OT(amps , &kp AMPS , I, A)
ZMK_COMBO_TAIPO_OT(dllr , &kp DLLR , E, R)
ZMK_COMBO_TAIPO_OT(pipe , &kp PIPE , T, S)

ZMK_COMBO_TAIPO(sqt     , &kp SQT  , S, A)
ZMK_COMBO_TAIPO(semi    , &kp SEMI , O, R)
ZMK_COMBO_TAIPO(qmark   , &kp QMARK, I, T)
ZMK_COMBO_TAIPO(comma   , &kp COMMA, E, N)

ZMK_COMBO_TAIPO_IT(dqt  , &kp DQT  , S, A)
ZMK_COMBO_TAIPO_IT(colon, &kp COLON, O, R)
ZMK_COMBO_TAIPO_IT(excl , &kp EXCL , I, T)
ZMK_COMBO_TAIPO_IT(dot  , &kp DOT  , E, N)

ZMK_COMBO_TAIPO_OT(grave, &kp GRAVE, S, A)
ZMK_COMBO_TAIPO_OT(none1, &none    , O, R)
ZMK_COMBO_TAIPO_OT(none2, &none    , I, T)
ZMK_COMBO_TAIPO_OT(tilde, &kp TILDE, E, N)

ZMK_COMBO_TAIPO(enter   , &kp ENTER, E, T, O)
ZMK_COMBO_TAIPO(tab     , &kp TAB  , I, N, S)

ZMK_COMBO_TAIPO_IT(esc  , &kp ESC  , E, T, O)
ZMK_COMBO_TAIPO_IT(del  , &kp DEL  , I, N, S)

#ifndef TAIPO_PASTE_BINDING
#define TAIPO_PASTE_BINDING &kp LS(INSERT)
#endif

ZMK_COMBO_TAIPO_OT(paste, TAIPO_PASTE_BINDING, E, T, O)

// These need to be sticky, but clear with repeat presses.
ZMK_COMBO_TAIPO(gui     , &sk LGUI    , A, R)
ZMK_COMBO_TAIPO(alt     , &sk LALT    , O, S)
ZMK_COMBO_TAIPO(ctl     , &sk LCTRL   , T, N)
ZMK_COMBO_TAIPO(sft     , &sk LSHFT   , E, I)

// Enumerate all possible GACS combinations.
ZMK_COMBO_TAIPO(ga      , &sk LG(LALT)         , O, S, A, R)
ZMK_COMBO_TAIPO(gc      , &sk LG(LCTRL)        , T, N, A, R)
ZMK_COMBO_TAIPO(gs      , &sk LG(LSHFT)        , E, I, A, R)
ZMK_COMBO_TAIPO(ac      , &sk LA(LCTRL)        , T, N, O, S)
ZMK_COMBO_TAIPO(as      , &sk LA(LSHFT)        , E, I, O, S)
ZMK_COMBO_TAIPO(cs      , &sk LC(LSHFT)        , E, I, T, N)
ZMK_COMBO_TAIPO(gac     , &sk LG(LA(LCTRL))    , T, N, O, S, A, R)
ZMK_COMBO_TAIPO(gas     , &sk LG(LA(LSHFT))    , E, I, O, S, A, R)
ZMK_COMBO_TAIPO(gcs     , &sk LG(LC(LSHFT))    , E, I, T, N, A, R)
ZMK_COMBO_TAIPO(acs     , &sk LA(LC(LSHFT))    , E, I, T, N, O, S)
ZMK_COMBO_TAIPO(gacs    , &sk LG(LA(LC(LSHFT))), E, I, T, N, O, S, A, R)

// hjkl is left/down/up/right, so mirrored is right/up/down/left.
ZMK_COMBO_TAIPO_IT(right, &kp RIGHT, A, R)
ZMK_COMBO_TAIPO_IT(up   , &kp UP   , O, S)
ZMK_COMBO_TAIPO_IT(down , &kp DOWN , T, N)
ZMK_COMBO_TAIPO_IT(left , &kp LEFT , E, I)

// Deviation from the official Taipo layout: Home/PgDn/PgUp/End.
ZMK_COMBO_TAIPO_OT(home , &kp HOME , E, I)
ZMK_COMBO_TAIPO_OT(pgdn , &kp PG_DN, T, N)
ZMK_COMBO_TAIPO_OT(pgup , &kp PG_UP, O, S)
ZMK_COMBO_TAIPO_OT(end  , &kp END  , A, R)

// Taipo leader combo for F-key access. Depends on urob's zmk-leader-key
ZMK_COMBO_TAIPO_OT(lead, &tlead, I, N, S)

#define ZMK_TAIPO_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            tlead: tlead { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

// leader 1-9: F1-F9
// leader 0 0-9: F10-F19
ZMK_TAIPO_LEADER_SEQUENCE(f1,  &kp F1,  N1)
ZMK_TAIPO_LEADER_SEQUENCE(f2,  &kp F2,  N2)
ZMK_TAIPO_LEADER_SEQUENCE(f3,  &kp F3,  N3)
ZMK_TAIPO_LEADER_SEQUENCE(f4,  &kp F4,  N4)
ZMK_TAIPO_LEADER_SEQUENCE(f5,  &kp F5,  N5)
ZMK_TAIPO_LEADER_SEQUENCE(f6,  &kp F6,  N6)
ZMK_TAIPO_LEADER_SEQUENCE(f7,  &kp F7,  N7)
ZMK_TAIPO_LEADER_SEQUENCE(f8,  &kp F8,  N8)
ZMK_TAIPO_LEADER_SEQUENCE(f9,  &kp F9,  N9)
ZMK_TAIPO_LEADER_SEQUENCE(f10, &kp F10, N0 N0)
ZMK_TAIPO_LEADER_SEQUENCE(f11, &kp F11, N0 N1)
ZMK_TAIPO_LEADER_SEQUENCE(f12, &kp F12, N0 N2)
ZMK_TAIPO_LEADER_SEQUENCE(f13, &kp F13, N0 N3)
ZMK_TAIPO_LEADER_SEQUENCE(f14, &kp F14, N0 N4)
ZMK_TAIPO_LEADER_SEQUENCE(f15, &kp F15, N0 N5)
ZMK_TAIPO_LEADER_SEQUENCE(f16, &kp F16, N0 N6)
ZMK_TAIPO_LEADER_SEQUENCE(f17, &kp F17, N0 N7)
ZMK_TAIPO_LEADER_SEQUENCE(f18, &kp F18, N0 N8)
ZMK_TAIPO_LEADER_SEQUENCE(f19, &kp F19, N0 N9)
