// Alpha-style 28-key integration.
#include <zmk-helpers/helper.h>
#include "../../config/key-labels/28.h"

#define TAIPO 6
#define TAIPO_INNER 7
#define TAIPO_OUTER 8

#include <zmk-taipo/taipo.dtsi>
#include <zmk-taipo/features/virtual_thumbs.dtsi>
