// Hummingbird 30-key integration.
#include <zmk-helpers/helper.h>
#include "../../config/key-labels/30.h"

#include <zmk-taipo/adapters/zmk_helpers.h>

#define TAIPO 6
#define TAIPO_INNER 7
#define TAIPO_OUTER 8
#define TAIPO_THUMB_ORDER_OIIO 1

#include <zmk-taipo/taipo.dtsi>
#include <zmk-taipo/features/virtual_thumbs.dtsi>
#include <zmk-taipo/features/leader.dtsi>
