// the_paintbrush_left-style single-hand integration.
#include <zmk-helpers/helper.h>

// Define zmk-helper mappings
#define LM1 7
#define LM2 6
#define LM3 5
#define LM4 4
#define LT1 3
#define LT2 2
#define LT3 1
#define LT4 0

// Define taipo layers
#define TAIPO 0
#define TAIPO_INNER 1
#define TAIPO_OUTER 2

// One-handed layout
#define TAIPO_ONLY_LEFT_HAND 1

#include <zmk-taipo/taipo.dtsi>
#include <zmk-taipo/features/virtual_thumbs.dtsi>
