#ifndef ZMK_TAIPO_CORE_INCLUDED
#error "Include <zmk-taipo/taipo.dtsi> before leader.dtsi"
#endif

#ifndef ZMK_TAIPO_FEATURE_LEADER_INCLUDED
#define ZMK_TAIPO_FEATURE_LEADER_INCLUDED 1

// Taipo leader combo.
ZMK_COMBO_TAIPO_OT(lead, &tlead, T1, T2, T3)

#ifndef TAIPO_DISABLE_DEFAULT_LEADER_SEQUENCES
#define ZMK_TAIPO_LEADER_SEQUENCE(name, leader_bindings, leader_sequence) \
    / { \
        behaviors { \
            tlead: tlead { \
                compatible = "zmk,behavior-leader-key"; \
                #binding-cells = <0>; \
                ignore-keys = <LSHFT RSHFT>; \
                leader_sequence_ ## name { \
                    bindings = <leader_bindings>; \
                    sequence = <leader_sequence>; \
                }; \
            }; \
        }; \
    };

// leader 1-9: F1-F9
// leader 0 0-9: F10-F19
ZMK_TAIPO_LEADER_SEQUENCE(f1,  &kp F1,  N1)
ZMK_TAIPO_LEADER_SEQUENCE(f2,  &kp F2,  N2)
ZMK_TAIPO_LEADER_SEQUENCE(f3,  &kp F3,  N3)
ZMK_TAIPO_LEADER_SEQUENCE(f4,  &kp F4,  N4)
ZMK_TAIPO_LEADER_SEQUENCE(f5,  &kp F5,  N5)
ZMK_TAIPO_LEADER_SEQUENCE(f6,  &kp F6,  N6)
ZMK_TAIPO_LEADER_SEQUENCE(f7,  &kp F7,  N7)
ZMK_TAIPO_LEADER_SEQUENCE(f8,  &kp F8,  N8)
ZMK_TAIPO_LEADER_SEQUENCE(f9,  &kp F9,  N9)
ZMK_TAIPO_LEADER_SEQUENCE(f10, &kp F10, N0 N0)
ZMK_TAIPO_LEADER_SEQUENCE(f11, &kp F11, N0 N1)
ZMK_TAIPO_LEADER_SEQUENCE(f12, &kp F12, N0 N2)
ZMK_TAIPO_LEADER_SEQUENCE(f13, &kp F13, N0 N3)
ZMK_TAIPO_LEADER_SEQUENCE(f14, &kp F14, N0 N4)
ZMK_TAIPO_LEADER_SEQUENCE(f15, &kp F15, N0 N5)
ZMK_TAIPO_LEADER_SEQUENCE(f16, &kp F16, N0 N6)
ZMK_TAIPO_LEADER_SEQUENCE(f17, &kp F17, N0 N7)
ZMK_TAIPO_LEADER_SEQUENCE(f18, &kp F18, N0 N8)
ZMK_TAIPO_LEADER_SEQUENCE(f19, &kp F19, N0 N9)
#endif

#endif // ZMK_TAIPO_FEATURE_LEADER_INCLUDED
